html {
    background-color: #a5d4db;
    font-family: 'Varela Round', sans-serif !important;
}
body{
    width: 1023px;
    margin: auto;
    background-color: #a5d4db;
}

header h1:hover {
    cursor: pointer;
}

header {
   margin: 20px;
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

header h1 {
    /* background-color: antiquewhite; */
    font-weight: bold;
    color: #556671;
    font-family: 'Varela Round', sans-serif !important;
    font-size: 80px;
}

.grid {
	display: grid;
}

.grid-auto-flow-1 {
    grid-auto-flow: column;
    justify-content: space-between;
    position: static;
    bottom: 15px;
    text-align: center;
    width: 1024px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.item {   
    font-family: 'Varela Round', sans-serif !important;
    display: grid;
    border: solid 3px #556671;
    border-radius: 5px;
	margin: 15px;
	/* background: tomato; */
	text-align: center;
    font-size: 1.2em;
    max-height: 200px;
    transition: background-color .7s;
    align-items: center;    
    color: #222222;
    height: 80px;

}

.item:hover {
    background-color: #9bbabe;
    cursor: pointer;
}

.selecitem {
    font-family: 'Varela Round', sans-serif !important;
    display: grid;

	/* background: tomato; */
	text-align: center;
    font-size: 1.2em;
    max-height: 200px;  
    height: 74px;
    rotate: 90;
}
  
  .selectdiv:after {
      content: '\f078';
      font: normal normal normal 19px/1 FontAwesome;
      color: #556671;
      right: 55px;
      top: 19px;
      height: 70px;
      padding: 26px 0px 0px 18px;

      position: absolute;
      pointer-events: none;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  


  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    max-width: 320px;
    height: 74px;
    border: 3px solid #556671;
    padding: 0px 20px;
    font-size: 1.2em;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #556671;
    -ms-word-break: normal;
    word-break: normal;
  }

  .selectdiv select:disabled {
    background-color: #a5d4db;
  }



  .selectdivs:after {
    /* content: '\f078';
    font: normal normal normal 19px/1 FontAwesome; */
    color: #556671;
    right: 55px;
    top: 19px;
    height: 70px;
    padding: 26px 0px 0px 18px;

    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}



.selectdivs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  height: 74px;
  border: 3px solid #556671;
  padding: 0px 20px;
  font-size: 1.2em;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #556671;
  -ms-word-break: normal;
  word-break: normal;
}

.selectdivs select:disabled {
  background-color: #a5d4db;
}

  .ibagem {
      margin-top: 50px;
      width: 1024px;
  }
  .ibagem img {
      z-index: 1;
      max-width: 1014px;
      max-height: 500px;

      border: 5px solid white;
  }

  .acampBut {
      
      width: 1024px;
  }
  .inputP {
      width: 1024px;
      margin-top: 15px;
      margin-bottom: 5px;
    height: 50px;
    background-color: #cdebf0;
      border: solid 3px #556671;
      padding: 0px 20px;
      font-size: 1.2em;

  }
  .buttonsss{
      display: flex;
      justify-content: space-between;
  }

  #buttPre,#buttEditCons, #buttAtu, #buttPreProg, #buttProg {
    width: 500px;
    margin: 15px 15px;
  height: 50px;
  background-color: #556671;
    border: solid 3px #556671;
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: white
}

#buttAtu:disabled, #buttProg:disabled, #buttPreProg:disabled {
    background-color: #84a3b8;
    color: rgb(196, 191, 191);
}
.escondida {
    display: none;
}

.preInpur {
    height: 50px;
    border-left: 3px solid #556671;
    border-bottom: 3px solid #556671;
    border-top: 3px solid #556671;
    margin-top: 15px;
    font-weight: bold;
}
.datasPo {
    width: 220px;      
      margin-bottom: 5px;
    height: 50px;
    background-color: #cdebf0;
      border: solid 3px #556671;      
      font-size: 1.2em;
}

.dataHoras {
    border: 3px solid #556671;
    padding-bottom: 10px;
    padding-top: 10px;
}
.divideAsHoras{
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.espaco {
    display: inline-flex;
    margin-top: 40px;
}

.pAntesDoUuid{
    font-size: 15px;
    font-weight: bold;
}
.uuidProg {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

#idDoBanner {
    width: 900px;
}

.itedm {
    margin-top: 30px;
}

.selectdiv:after {
    /* content: '\f078';
    font: normal normal normal 19px/1 FontAwesome; */
    color: #556671;
    right: 55px;
    top: 19px;
    height: 70px;
    padding: 26px 0px 0px 18px;

    position: absolute;
    pointer-events: none;
}

